body {
    font-family: 'Inter', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 700;
    letter-spacing: -0.025em; /* tracking-tight */
}

a {
  transition: color 0.2s ease-in-out;
}

a:hover {
  color: #D2A66D; /* Olie primary color */
  text-decoration: underline;
}