body {
    background-color: #FCFAF8; /* background */
    font-family: 'Inter', sans-serif;
    color: #2C2C2C; /* textPrimary */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 700;
    letter-spacing: -0.025em; /* tracking-tight */
    color: #2C2C2C; /* textPrimary */
}
